.vcenter {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

g.connect-node circle{
    fill: #BEFFFF;
}

iframe {
  width: 980px;
  height: 970px;
  border: 1px solid #DEDEDE;
}
