

<!DOCTYPE html>
<html lang='ko' ng-app="myApp" ng-controller="assemblyMainCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>19대 국회 법률안 발의 정보</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/png">

    <script src="js/angular.1.4.8.min.js"></script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angucomplete-alt.2.1.0.min.js"></script>

    <!-- our app-->
    <script src="js/app-main.js"></script>


    <link rel="stylesheet" href="css/angular-chart.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angucomplete-alt.css">
    <link rel="stylesheet" href="css/assembly.css">
  </head>
  <style>
  text {
    font: 10px sans-serif;
  }
  </style>
<body>
<table>
<tr><td>
<h2>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 19대 국회 전체의원 법안발의 정보&nbsp;&nbsp;
</h2>
</td><td>
   <div class="input-group vcenter">
    <angucomplete-alt id="ex1"
            placeholder="의원/지역구 검색"
            selected-object="setActor"
            local-data="actors"
            search-fields="info"
            title-field="info"
            text-searching="false"
            text-no-results="false"
            clear-selected="true"
            input-class="pull-right form-control form-control-small small-input"
            minlength="1"/></div>
  </td>
<td>
  <div class="vcenter">
    &nbsp;&nbsp;<a href="#List" class="btn btn-primary" role="button">최근발의 <span class="badge">{{listProposedArr[0].proposed_date}}</span></a></a>
  </div>
</td>
<td>
  <div class="vcenter">
    &nbsp;&nbsp;<a href="#latestdecision" class="btn btn-primary" role="button">최근처리 <span class="badge">{{listDecisionArr[0].decision_date}}</span></a></a>
  </div>
</td>
</tr></table>

<!-- info block -->
<div class="alert alert-info" role="alert">
  <strong>각 의원 {{optString}} 법안 발의 건수에 따라 원의 크기가 결졍됩니다.</strong> (정당별 색상) 원에 마우스를 올리면 당명과 발의법안의 수를 볼수 있고 클릭하면 각 의원의 자세한 정보를 보실수 있습니다.

  <p><strong>의안 선택: </strong>


      &nbsp;<input type="radio" ng-model="opt.by" value="rep" ng-change="upAll()"/> 대표발의
      &nbsp;<input type="radio" ng-model="opt.by" value="co" ng-change="upAll()" /> 공동발의 
   

    &nbsp;&nbsp;<strong>결과 선택:</strong>             
    &nbsp;<input type="radio" ng-model="opt.result" value="ongoing" ng-change="upAll()"/> 계류중
    &nbsp;<input type="radio" ng-model="opt.result"  value="pass" ng-change="upAll()" /> 가결
    &nbsp;<input type="radio" ng-model="opt.result" value="done" ng-change="upAll()"/> 처리
    &nbsp;<input type="radio" ng-model="opt.result" value="all" ng-change="upAll()"/> 모두보기 

    &nbsp;&nbsp;<strong>(시험운영중: <a href="mailto:hunkim+ka@gmail.com?Subject=Bug" target="_top">의견 주기</a>)</strong>


</div>

<!-- error block -->
<div ng-show="errorFlag" class="alert alert-danger text-center" role="error">
  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
  인터넷 연결이 불안정 합니다.
  <a class="btn btn-primary" role="button" ng-click="reconnect();"> 다시 연결 시도하기</a>
</div>

<center>
<iframe sandbox="allow-scripts allow-forms allow-top-navigation allow-same-origin" 
  ng-src="{{circleUrl}}" 
  marginwidth="0" marginheight="0" scrolling="no">
</iframe>
</center>

<!-- 최근 의제 -->
<a name="List"></a>
<div cg-busy="{promise:listProposedPromise,message:'최근 발의 정보를 읽고 있습니다...'}"></div>
<div id="List" class="alert alert-info">
    <strong> 최근 발의 목록 ({{listProposedArr.length}} 건)</strong>
자세한 자료는 의안 제목이나 의원 이름을 클릭하사면 됩니다.
</div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>#</th>
      <th>제안일자</th>
      <th>의안명 </th>
      <th>대표발의 (공동발의자수)</th>
      <th>의결결과</th>
    </tr>
    <!-- http://stackoverflow.com/questions/3076708/can-we-have-multiple-tbody-in-same-table -->
    <tbody ng-repeat="list in listProposedArr">
      <tr>
      <td>{{$index+1}}</td>
      <td>{{list.proposed_date}}</td>
      <td>
        <A target="_blank"
          href="http://likms.assembly.go.kr/bill/jsp/BillDetail.jsp?bill_id={{list.link_id}}">{{list.title}} 
        </A>
      </td>
      <td><a class="btn-xs btn btn-default" ng-href="in.html#/{{list.actorid}}">{{list.name_kr}}</a> 외 {{list.actor_count}}명</td>
      <td>{{list.status}}/{{list.status_detail}}</td>
    </tr>
  </tbody>
</table>

<a name="latestdecision"></a>
<div cg-busy="{listProposedPromise:listPromise,message:'최근 처리 법안 정보를 읽고 있습니다...'}"></div>
<div class="alert alert-info">
    <strong>{{optString}} 총 {{listDecisionArr.length}} 최근 처리 의안 목록</strong> 자세한 자료는 의원을 클릭하사면 됩니다 .</i>)
</div>

  <table class="table">
    <tr>
      <th>#</th>
      <th>의결일자</th>
      <th>제안일자</th>
      <th>의안명 </th>
      <th>대표발의 (공동발의자수)</th>
      <th>의결결과</th>
    </tr>
    <tbody ng-repeat="list in listDecisionArr">
      <tr>
      <td>{{$index+1}}</td>
      <td>{{list.decision_date}}</td>
      <td>{{list.proposed_date}}</td>
      <td>
        <A target="_blank"
          href="http://likms.assembly.go.kr/bill/jsp/BillDetail.jsp?bill_id={{list.link_id}}">{{list.title}} 
        </A>
      </td>
      <td><a class="btn-xs btn btn-default" ng-href="in.html#/{{list.actorid}}">{{list.name_kr}}</a> 외 {{list.actor_count}}명</td>
      <td>{{list.status}}/{{list.status_detail}}</td>
  </tr>
</tbody>
</table>


<div class="footer">
<div class="alert alert-danger" role="alert">
  <a href="http://likms.assembly.go.kr" class="alert-link text-center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    이 사이트가 보여주는 자료는 프로그램의 버그등으로 인해 오류가 있을수 있습니다. 정확한 자료는 의안정보 시스템에서 반드시 확인하세요.</a>
</div>

<p class="text-center">
  <button class="btn btn-primary" type="button">
  만든이: <span class="badge">hunkim+ka@gmail.com</span>
</button>

<a href="http://popong.com/"> <button class="btn btn-sucess" type="button">
자료수집: <span class="badge">by 팀포퐁 Crawler</span>
</button></a>

<a href="http://aws.amazon.com">
<img src="aws.png"></a>

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70751634-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
